<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doseapp">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoseApp"
        tools:targetApi="31">
        <activity
            android:name=".activitys.telaContatos"
            android:exported="false" />
        <activity
            android:name=".activitys.telaChat"
            android:exported="false" />
        <activity
            android:name=".activitys.visualizarFotoReceita"
            android:exported="false" />
        <activity
            android:name=".activitys.telaDiarios"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroDiarioAtividade"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroConsulta"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroDiarioAlimentacao"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroTerapia"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroReceita"
            android:exported="false" />
        <activity
            android:name=".activitys.telaDadosDosIdosos"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroMedicamento"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastroIdosoCuidado"
            android:exported="false" />
        <activity
            android:name=".activitys.telaPerfil"
            android:exported="false" />
        <activity
            android:name=".activitys.telaInicial"
            android:exported="false" />
        <activity
            android:name=".activitys.telaCadastro"
            android:exported="false" />
        <activity
            android:name=".activitys.telaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>