<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doseapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoseApp"
        tools:targetApi="31">
        <activity
            android:name=".telaEditarMedicamento"
            android:exported="false" />
        <activity
            android:name=".telaEditarIdoso"
            android:exported="false"
            android:parentActivityName=".telaInicial" />
        <activity
            android:name=".telaCadastroDiarioAtividade"
            android:exported="false"
            android:parentActivityName=".telaCadastroDiario" />
        <activity
            android:name=".telaCadastroConsulta"
            android:exported="false"
            android:parentActivityName=".telaDadosDosIdosos" />
        <activity
            android:name=".telaCadastroDiarioAlimentacao"
            android:exported="false"
            android:parentActivityName=".telaCadastroDiario" />
        <activity
            android:name=".telaCadastroTerapia"
            android:exported="false"
            android:parentActivityName=".telaDadosDosIdosos" />
        <activity
            android:name=".telaCadastroReceita"
            android:exported="false"
            android:parentActivityName=".telaDadosDosIdosos" />
        <activity
            android:name=".telaCadastroDiario"
            android:exported="false"
            android:parentActivityName=".telaDadosDosIdosos" />
        <activity
            android:name=".telaDadosDosIdosos"
            android:exported="false"
            android:parentActivityName=".telaInicial" />
        <activity
            android:name=".telaCadastroMedicamento"
            android:exported="false"
            android:parentActivityName=".telaDadosDosIdosos" />
        <activity
            android:name=".telaCadastroIdosoCuidado"
            android:exported="false"
            android:parentActivityName=".telaInicial" />
        <activity
            android:name=".telaPerfil"
            android:exported="false"
            android:parentActivityName=".telaInicial" />
        <activity
            android:name=".telaInicial"
            android:exported="false" />
        <activity
            android:name=".telaCadastro"
            android:exported="false"
            android:parentActivityName=".telaLogin" />
        <activity
            android:name=".telaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>